<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ioe.mobiloscope" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    adf
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Terminal"
            android:label="@string/title_activity_terminal" >
        </activity>
        <activity
            android:name=".DCActivity"
            android:label="@string/title_activity_dc" >
        </activity>
        <activity
            android:name=".DC2Activity"
            android:label="@string/title_activity_dc2" >
        </activity>
        <activity
            android:name=".oscilloscopeStart"
            android:label="@string/title_activity_oscilloscope_start"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".LineChartActivity"
            android:label="@string/title_activity_line_chart" >
        </activity>
        <activity
            android:name=".ohmMeter"
            android:label="@string/title_activity_ohm_meter" >
        </activity>
        <activity
            android:name=".dynamicChart"
            android:label="@string/title_activity_dynamic_chart" >
        </activity>
        <activity
            android:name=".ac"
            android:label="@string/title_activity_ac"
            android:screenOrientation="landscape" >
        </activity>

    </application>

</manifest>
